@media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
    color: #0ea293;
  }
  .navbar{
    background-color: #bee8e4;
    
  }